@charset "UTF-8";
@font-face {
	font-family: "Osaka";
	font-style: normal;
	font-weight: normal;
	src: url(../font/Osaka.ttc) format('truetype');
}
html{
  overflow: hidden;
}
.mainSite{
  /* background-image: url("../img/web5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center; */
  z-index:0;
  height: 100vh;
  position: relative;
}
img{
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  z-index:1;
  height: 100vh;
  width: 1160px;
  right: 0;
  opacity: 0;
  position: absolute;
  animation: fadein-main 2s ease 8s 1 normal forwards;
}

@keyframes fadein-main{
  0% {opacity: 0; transform: translate3d(500px,0,0);}
  100% {opacity: 1; transform: translate3d(0,0,0);}
}

.left-top{
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  width: 590px;
  height: 100vh;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  background-color: aquamarine;
  opacity: 0;
  animation: fadein-left 2s ease 8s 1 normal forwards;
}

@keyframes fadein-left{
  0% {opacity: 0; transform: translate3d(-500px,0,0);}
  100% {opacity: 1; transform: translate3d(0,0,0);}
}

/* animation-name、 animation-duration、 animation-timing-function、 
animation-delay、 animation-iteration-count、 animation-directionをスペースで区切って指定する */

header{
  z-index: 3;
  text-align: right;
  padding: 80px 150px 60px 0;
  animation: fadein 2s ease 6s 1 normal forwards;
  position: absolute;
  top: 0;
  right:0;
  opacity: 0;
}

@keyframes fadein {
  0% {opacity: 0; transform: translate3d(0,0,0);}
  100% {opacity: 1; transform: translate3d(0,0,0);}
}

li{
  display: inline-block;
}
a{
  text-decoration: none;
  color: #754C24;
  border-bottom: 1px #666666 solid;
  font-family: "Osaka";
  font-size: 30px;
  margin-left:80px;
}
.movie{
  z-index: 3;
  height: 55vh;
  width: 55vw;
  background-color: white;
  position: absolute;
  top: 25%;
  left: 25%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  opacity: 0;
  animation: fadein-movie 2s ease 7s 1 normal forwards;
}
@keyframes fadein-movie{
  0% {opacity: 0; transform: translate3d(500px,0,0);}
  100% {opacity: 1; transform: translate3d(0,0,0);}
}
video{
  height: 55vh;
  width: 55vw;
}
